<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="datosGrafico"
                [labels]="lblMeses"
                [options]="opcionesGrafico"
                [colors]="coloresGrafico"
                [legend]="mostrarLeyendasDeGrafico"
                [chartType]="tipoDeGrafico"
                (chartClick)="onClickGrafico($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lblMeses">{{label}}</th>
      </tr>
      <tr *ngFor="let d of datosGrafico">
        <td *ngFor="let label of lblMeses; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button class="btn btn-primary" (click)="darValoresAleatorios()">Desordenar valores</button>
  </div>
</div>